*_best.torch filter=lfs diff=lfs merge=lfs -text
dataset/symmetrized_dataset_with_bandgap.pkl filter=lfs diff=lfs merge=lfs -text
dataset/cached_preprocessed_data.pt filter=lfs diff=lfs merge=lfs -text
