block*
*.pyc
*.pkl
*.torch
dataset.ipynb
!*_best.torch
log/
wandb/
onehot_data/
!dataset/auxiliary_dataset.pkl
!dataset/symmetrized_dataset_with_bandgap.pkl
!model/symmetrized_data_model_im_250424_for_paper_best.torch


